body {
  font-family: Impact, Charcoal, sans-serif, monospace;
}

th {
  background-color: indigo;
  color: white;
  text-transform: uppercase;
  width: 33.33%;
}

td {
  padding: 3px;
}

tr.time td:nth-child(2n) {
  /*background-color: yellow;*/
  white-space: nowrap;
  border-bottom: 1px solid grey;
}

tr.time td:nth-child(2n+1) {
  background-color: lightskyblue;
  width: 5%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

tr td:last-child {
  border-right: 1px solid grey;
}

tr:last-child td{
  border-bottom: 1px solid grey;
}

.wrapper {
  width: 600px; /* make width dependant of number of columns */
}

.fill-width {
  width: 100%;
  text-align: center;
}

.line-number{
  font-weight: bold;
  font-size: 1.5em;
}

.stop-name {
  font-size: 1.3em;
}

.vehicle-type {
  font-style: italic;
}
